
    <style>




        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 3px;
            padding: 0;
            width: 100%;
            width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 10%, transparent 10%),
                      radial-gradient(#444cf7 10%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
        }

        header {
            
            padding: 20px;
            text-align: center; /* Alinear el texto al centro */

            

        }

        nav {
            display: flex;
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
            background-color: #444cf7; /* Fondo pastel */
            border-radius: 20px; /* Bordes curvos */
            overflow: hidden; /* Evitar desbordamiento de bordes curvos */


            
        }

        .menu-item {
            text-decoration: none;
            color: #ffffff; /* Color de enlaces en tono pastel */
            font-size: 22px; /* Tamaño de fuente más pequeño */
            transition: color 0.3s;
            transition: transform 0.3s;
            padding: 25px 30px; /* Espaciado interno */
            margin: 0 5px; /* Espaciado entre elementos del menú */
            border-radius: 14px 14px; /* Bordes curvos */
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: bold;
        }

        .menu-item:hover  {
            background-color: rgb(229, 233, 238);   
            color: #444cf7;
            text-decoration: none;
            font-size: 23px;
            transform: scale(1.1);
            border-radius: 14px;
        }

        .menunav {
            width: 100%;
            height: 50px;
            border-radius: 20px; /* Bordes curvos */
            overflow: hidden; /* Evitar desbordamiento de bordes curvos */
        }

        .user-icon {
            background-color: white;   
            color: #444cf7;
            text-decoration: none;
            font-size: 22px;
            border-radius: 14px 14px;
            padding: 3px;
            transition: transform 0.3s;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: bold;
        }

        .user-icon:hover {
            transform: scale(1.1); /* Escalar el elemento al 110% al pasar el ratón por encima */
            text-decoration: none;
        }

        
    
    </style>
</head>
<body>

    <header>
        <nav class="menunav">
            
                <a class="menu-item" href="/inicio">INICIO</a>
                <a class="menu-item" href="/comprar">COMPRAR</a>
                <a class="menu-item" href="/ubicacion">UBICACION</a>
                <a class="menu-item" href="/nosotros">NOSOTROS</a>
                <a class="menu-item" href="/perfil">PERFIL</a>
            
            <a class="user-icon" href='/cerrarSesion'">CERRAR SESION</a>
        </nav>
    </header>

</body>
</html>
