<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: rgb(164, 236, 250); /* Fondo pastel */
        padding: 20px;
    }

    nav {
        display: flex;
        justify-content: space-evenly; /* Distribuir botones en toda la pantalla */
        background-color: rgb(230, 245, 243); /* Fondo pastel */
    }

    .menu-item {
        text-decoration: none;
        color: #0476af; /* Color de enlaces en tono pastel */
        font-size: 23px; /* Tamaño de fuente más grande */
        transition: color 0.3s;
        border-radius: 20px; /* Bordes curvos */
        padding: 10px 120px; /* Espaciado interno */
        margin: 0 5px; /* Espaciado entre elementos del menú 
    }

    .menu-item:hover {
        color: #160807; /* Color de enlaces en tono pastel al pasar el mouse */
    }
</style>

<header>
    <nav>
        <a class="menu-item" href="/inicio">Inicio</a>
        <a class="menu-item" href="/comprar">Comprar</a>
        <a class="menu-item" href="/ubicacion">Ubicación</a>
        <a class="menu-item" href="/nosotros">Nosotros</a>
    </nav>
</header>
