
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Área de Ayuda</h3>
                <ul>
                    <li><a href="politica-de-privacidad.html">Política de Privacidad</a></li>
                    <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
                    <li><a href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contacto y Redes Sociales</h3>
                <p>¡Conéctate con nosotros en las redes sociales para mantenerte actualizado!</p>
                <ul>
                    <li><a href="https://www.facebook.com/BocanegraTCarlos/" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/tudulceria" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/tudulceria" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>