<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>


<section>
    <h2>Sobre Nosotros</h2>
    <p>Bienvenido a nuestra tienda de dulces, donde la dulzura y la diversión se encuentran en cada rincón. Somos apasionados por ofrecer una experiencia única de sabores deliciosos y momentos felices a todos nuestros clientes.</p>

    <p>En nuestra tienda, nos esforzamos por seleccionar los dulces más deliciosos y variados, desde clásicos caramelos hasta innovadoras creaciones que te sorprenderán. Nuestro compromiso con la calidad y la frescura nos distingue, y siempre estamos buscando nuevas formas de deleitar tu paladar.</p>

    <p>Además de nuestra amplia gama de dulces, también nos enorgullece brindar un servicio excepcional. Nuestro equipo está aquí para ayudarte a encontrar tus dulces favoritos, ofrecer recomendaciones y garantizar que tu visita sea tan dulce como nuestros productos.</p>

    <p>¡Explora nuestro mundo de golosinas y déjate llevar por la magia de los sabores! Estamos emocionados de compartir contigo momentos llenos de alegría y dulzura.</p>

    <p> Elaborada en la EScuela Tecnologica de San juan del Rio por:</p>
    <p> migue p </p>
    <p> memorama </p>
    <p> marquiños</p>
    <p> pollo </p> 
    <p> Fundador bocalimpia  </p> 
    
</section>

<style>
    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    p {
        line-height: 1.6;
        color: #666;
    }

    .biography {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .biography img {
        border-radius: 50%;
        margin-right: 20px;
        max-width: 150px;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
    }
</style>

